*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: rgb(13, 102, 13);
    background-attachment: fixed;
    background-image: url("../image/Apple.jpg");
    background-size: 100% 90%;
    background-repeat: no-repeat;
}
#index{
    z-index: 2;
    width: 100%;
    margin-top: 30%;
}
#Scroll_image{
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 1;
}
.logo{
    color: white;
    margin-right:3px ;
}
.menu_bar{
    position: sticky;
    top: 0;
    margin-top:-4px;
    text-align: center;
}
.ul{
    background-color:rgba(39, 129, 39, 0.7);
    display: flex;
    list-style: none;
    font-family:'Playfair Display', serif;
}
.ul li {
    margin:10px 15px;
    padding:15px;
    width:130px;
    
}
.ul li:hover{
    background: rgb(34, 194, 48);
    border-radius: 5px;
    cursor: pointer;
}
.ul li a{
    text-decoration: none;
    color: white; 
}
.ul li ul{
    list-style: none;
}
.ul li ul{
    display: none;
}
.ul li:hover ul{
    display: block;
    position: absolute;
    background-color: rgba(39, 129, 39, 0.7);
    margin:15px 0 0 -88px;
}
.ul li:hover ul li{
    width:250px;
    border-bottom: 1px solid white;
}
p{
    color: white;
    background-color:rgb(13, 102, 13);
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    width: 100%;
    padding:2% ;  
}
